<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container">
       
        <h1>profile page</h1>
       <div class="form-control ">
        <div class="row w-25">
        <form  method ="POST" action="/profile/">
            {% csrf_token %}
        
        <input type="text" placeholder="username" value="{{user.username}}" disabled>
        <input type="email" placeholder="email" value="{{user.email}}" disabled>
        <input type="text" placeholder="name"  >
        <input type="text" placeholder="address" >
      
        
        <button>update</button>
      
     </form>
        </div>
    

       </div>
    </div>
    
</body>
</html>